<head>
  <style>
    html {
      margin: 0;
      font-family: 'Courier New', Courier, monospace;
    }

    body {
      display: flex;
      justify-content: center;
    }

    h1 {
      font-size: 5em;
    }

    details {
      margin-top: 10px;
    }
  </style>
  <title>plunderludics!</title>
	<link rel="stylesheet" href="/lib/dumpling/dumpling.css">
  <script type="module" src="/lib/dumpling/a-dumpling.js"></script>
</head>

<body>
  <div>

    <h1>mut's <a href="https://plunderludics.github.io/">plunderludics</a>!</h1>
    <h2>- what is this?</h2>
    <p>i'm starting to get a better grasp on it, this one in particular is my personal exploration within plunderludics to using existing videogames (NES ones in particular) as materials for making other games (and game
      adjacent stuff)</p>
    <p>its inspired by <a href="http://plunderphonics.com/">this text</a> which is pretty cool and old about doing
      similar
      stuff with music and sound</p>

    <p> source code can be found <a href="https://gitlab.com/mutmedia/metanes">here</a> (extremely messy, slowly making
      the sampling of nes tracks more approachable)</p>

    <h2>- stuff</h2>
    <details>
      <summary><a href="./goodluck.html">auto mario</a></summary>
      a metagame using the demo of the original mario for the nes and the death state.
    </details>
    <details>
      <summary><a href="./accompaniment.html">tennis for one</a></summary>
      attempt to match a video of a real tennis match with a tennis video game
    </details>
    <details>
      <summary><a href="./steal.html">sliding grid</a></summary>
      an effect I implemented after getting inspired by <a href="https://gurnburial.itch.io/ridgewood">another videogame/animation</a>. (reminds me of the sparking idea of my whole plunderludics project
      that was making a game that only an AI could play)
    </details>
    <details>
      <summary><a href="./pacquine.html">pacman quine</a></summary>
      pacman ghosts each play the subsequent pacman game, which one is the best??
    </details>
    <details>
      <summary><a href="./helipac.html">pacman controller</a></summary>
      pacman as controller for cool helicopter game
    </details>
    <details>
      <summary><a href="./namekit.html">name kit</a></summary>
      a reference to an early fluxus analog plunderludic
    </details>
    <details>
      <summary><a href="./feztris.html">feztris</a></summary>
      building a thing out of multiple tetrises games running at the same time
    </details>
    <details>
      <summary><a href="./musical-web.html">two wet paddles</a></summary>
      two instances of arkanoid, to be played with, musically. using max-msp/rnbo granulator to make some fun sounds
    </details>
    <!-- <details>
      <summary><a href="./linkhunt.html">link hunting ducks (not working)</a></summary>
      link goes hunting ducks
    </details> -->
    <details>
      <summary>to do</summary>
      add multi zelda and mario ptsd
    </details>
    <a-dumpling focused temperament="sanguine" title="dumpring" width="10" height="17" x="70" y="70">
      <p>
        this website is part of the <a href="https://dumpling.love">dumpring</a>
      </p></a-dumpling>
  </div>
</body>