:root {
  --white: #fcfcfc;
  --red: #F83800;
  --gray-medium: #BCBCBC;
  --blue: #0078f8;
  --purple: #940084;
}

@font-face {
  font-family: heartbitXX;
  src: url(fonts/Heartbit2/HeartbitXX.ttf);
}

@font-face {
  font-family: awkward;
  src: url(fonts/Awkward/Awkward.ttf);
}

@font-face {
  font-family: heartbitXX2px;
  src: url(fonts/Heartbit2/HeartbitXX2Px.ttf);
}

html {
  height: 100%;
  width: 100%;
  font-family: awkward;
  /* font-size: 5em; */
  margin: 0px;
  overflow: hidden;
  /* background-color: #8179FF; */
  background-color: black;
  touch-action: pan-y;
  user-select: none;
  color: var(--red)
}

hr {
  color: var(--red);
  /* : 8px; */
}

body {
  padding: 2em;
  border-color: #BCBCBC;
  border-width: 1em;
  border-style: solid;
  border-radius: 8px;
  max-height: 100%;
  height: 100%;
  overflow: scroll;
}

a {
  color: var(--blue);
  text-decoration: var(--blue) underline;
}

a:visited {
  color: var(--purple);
  text-decoration: var(--purple) underline;
}

.pageContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .pageContainer {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}


.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.loading {
  /* font-size: larger; */
  font-size: 50%;
}

.loading button{
  height: 200px;
  width: 200px;
}

.gameScreen {
  display: none;
}

.metagameContainer {
  margin: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.outputStuff {
  text-align: left;
  width: 100%;
  font-size: 6em;
  color: white;
}

.inputStuff {
  height: 100%;
  width: 100%;
}

.bigButton {
  width: 100%;
  max-height: 120px;
  margin-top: 0.8em;
  font-family: awkward;
  font-size: 3.2em;
  height: 5em;
  border-radius: 8px;
  border-color: black;
  border-color: var(--gray-medium);
  /* border-width: 25px; */
  border-style: solid;
  background-color: var(--gray-medium);
  line-height: 0.6em;
  color: var(--red);
}

.bigButton:hover {
  cursor: pointer;
  scale: 1.05;
}

.bigButton:active {
  cursor: pointer;
  scale: 0.98;
}

#toggleDead {
  max-height: 200px;
}

.memoryController {
  display: none;
}

.whatsThis {
  position: fixed;
  top: 1.1em;
  right: 1.9em;
  font-size: 2.6em;
  font-family: monospace;
  text-decoration: var(--blue) underline;
}

.explanation h2 {
  color: var(--red);
}

.explanation h1 {
  color: var(--red);
}

.explanation {
  font-size: 2em;
  font-family: monospace;
  color:var(--gray-medium);
  user-select:text;
  width: 66%;
}

.spoiler {
  color: var(--gray-medium);
  background-color: var(--gray-medium);
}

.spoiler:hover {
  background-color: black;
}
